<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="{'camera-on': cameraOn}">
  <div id="cameraPreview" class="cameraPreview"></div>

  <div class="scan-box" [hidden]="!cameraOn">
    <div class="scan-box-inner">
      <div class="scan-box-inset"></div>
    </div>

    <p class="text-white text-sm text-center pt-2">Arahkan kotak ke Barcode / QRCode</p>
  </div>

  <div [ngStyle]="{'margin-top': '100px'}">
    <ion-button (click)="start()">Start</ion-button>
    <ion-button (click)="stop()">Stop</ion-button>
    <ion-button (click)="reset()">Reset</ion-button>
    <ion-button (click)="turnOnFlashlight()">Flash On</ion-button>
    <ion-button (click)="turnOffFlashlight()">Flash Off</ion-button>

    <div>
      <ion-img *ngIf="fileUri != ''" [src]="sanitizedFileUri(fileUri)"></ion-img>
      Result: {{ scanResult | json }}
    </div>
  </div>
</ion-content>
