.scan-box {
	content: "";
	display: block;
	width: 90%;
	top: 8%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.scan-box-inset {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border: 2px solid #fff;
	box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
}

.scanner-overlay {
	box-shadow: 0 0 0 99999px rgb(0 0 0 / 70%);
}